#add{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    // padding-left: 30%;
    color: blueviolet;
}

#button{
    height: 50px;
  width: 90%;
  padding: 20px;
  border-radius: 5px;
  border: 0;
  background-color:rgba(27, 112, 137, 1); 
  cursor: pointer;
  font-weight: bold;
}
#input{
    background-color: rgba(27, 112, 137, 1);
  border: 0; 
  color: #fff;
  width: 15%;
  height: 50px;
  margin: 20px;
  padding: 0x;
  font-size: 18px;
  border-radius: 10px;
}
#input :placeholder{
    color: rgba(255,255,255,0.5);
    font-weight: bold;
  }
  #input1{
    background-color: rgba(27, 112, 137, 1);
    border: 0; 
    color: #fff;
    width: 85%;
    height: 50px;
    margin: 20px;
    padding: 0x;
    font-size: 18px;
    border-radius: 10px;
  }
  #button1{
    height: 50px;
    width: 90%;
    padding: 20px;
    border-radius: 5px;
    border: 0;
    background-color:rgba(27, 112, 137, 1); 
    cursor: pointer;
    font-weight: bold;
  }

  #table{
    //   border-radius: ceil($number: 2);
    background-color: rgba(27, 112, 137, 1);
    border: 0; 
    color: #fff;
    width: 85%;
    height: 50px;
    margin: 20px;
    padding: 0x;
    font-size: 18px;
    border-radius: 10px;
  }